.sidebar {
  width: 220px;
  background-color: #022548;
  color: white;
  height: 100vh; /* full viewport height */
  padding: 20px;
  position: fixed; /* keep sidebar fixed */
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  padding: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.sidebar ul li a:hover {
color: #81c8f1;}

.main-content {
  margin-left: 220px; /* same as sidebar width */
}
